<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>充流量</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/assets/css/flow.css">
        <!--<script src="assets/js/recharge.js"></script>-->
    </head>
    <body>
        <div class="box">
            <div class="massage-panel">
                <div class="tel">138 1234 5678</div>
                <div>
                    <div class="info">全国流量卡20M</div>
                    <div class="info">到期时间：<span>2017-2-20</span></div>
                </div>
            </div>
            <div class="recharge-panel">
                <div class="cash">
                    <div class="moth">1个月</div>
                    <div class="price">售价20元</div> 
                </div>
                <div class="cash">
                    <div class="moth">3个月</div>
                    <div class="price">售价50元</div> 
                </div>
                <div class="cash">
                    <div class="moth">6个月</div>
                    <div class="price">售价90元</div> 
                </div>
                <div class="cash">
                    <div class="moth">1年</div>
                    <div class="price">售价150元</div> 
                </div>
                <div class="cash">
                    <div class="moth">2年</div>
                    <div class="price">售价300元</div> 
                </div>
                <div class="cash">
                    <div class="moth">3年</div>
                    <div class="price">售价450元</div> 
                </div>
            </div>
            <div class="des">
                <div>温馨提示:</div>
                <p>1.支持移动、电信、联通手机号码充值</p>
                <p>2.全国各省手机号码均可充值</p>
                <p>3.每月最后一天为结账日，到账时间较慢，请耐心等待</p>
            </div>
            <div class="btn">立即充值</div>
        </div>

    </body>
</html>
