<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>流量卡</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/assets/css/flow_card.css">
        <!--<script src="assets/js/recharge.js"></script>-->
    </head>
    <body>
        <div class="panel">
            <div class="title">流量卡IMSI：1382345678</div>
            <div class="pie-chart">
                <div class="top">剩余流量</div>
                <div class="center">
                    <span class="num">2054</span>
                    <span>MB</span>
                </div>
                <div class="bottom">剩余70.36%</div>
            </div>
            <div class="date">[截止2016/12/13 11:24]</div>
        </div>
        <div class="other">
            <div class="box">
                <div class="content">剩余话费：12.00元</div>
                <a class="btn" href="/bill">交话费</a>
            </div>
            <div class="box">
                <div class="content">到期时间：2017-2-20</div>
                <a class="btn" href="/flow">充流量</a>
            </div>
        </div>
    </body>
</html>
