<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>行驶轨迹</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/assets/css/index.css">
    <script src="/static/assets/js/TimeControl/jquery-1.9.1.js"></script>
    <!--timeClntrol-->
    <script src="/static/assets/js/TimeControl/date.js"></script>
    <script src="/static/assets/js/TimeControl/iscroll.js"></script>
    <!--end-->
    <script src="/static/assets/js/index.js"></script>
</head>
<body>
    <!--日期搜索框-->
    <div class="search">
        <div id="beginTime" class="input-box"></div>
    </div>
    <div class="search hide">
        <div class="input-box"></div>
    </div>
    <!--结果显示面板-->
    <div id='panel' class="message-panel">
        <div id='noinfo' class="no-message">当天暂无轨迹数据</div>
    </div>



    <!--timeControl-->
    <div id="datePlugin"></div>
</body>
</html>
